<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="appName" source="spring.application.name"/>
    <springProperty name="logLevel" source="logback.level" defaultValue="INFO"/>

    <logger name="com.microsoft.azure.servicebus.primitives.CoreMessageReceiver" level="ERROR"/>
    <logger name="com.microsoft.aad.adal4j.AuthenticationAuthority" level="WARN"/>
    <logger name="org.hibernate.SQL" level="ERROR"/>
    <logger name="org.hibernate.type" level="ERROR"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <springProfile name="!dev, !qa, !integ, !rehearsal, !uat, !prod">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>${logLevel}</level>
            </filter>
            <encoder>
                <pattern>
                    [%d][%-5p][%t][%c{0}][%M] - %m%n
                </pattern>
                <charset>utf8</charset>
            </encoder>
        </springProfile>

        <springProfile name="dev, qa, integ, rehearsal, uat, prod">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <pattern>
                        <pattern>
                            {
                            "tags": ["${appName}"],
                            "project": "${appName}",
                            "timestamp": "%date{\"yyyy-MM-dd'T'HH:mm:ss,SSSZ\"}",
                            "log_level": "%level",
                            "thread": "%thread",
                            "message": "%message",
                            "stack_trace": "%exception",
                            "request_id": "%X{X-SERVICE-REQUEST-ID}",
                            "request_uri": "%X{X-SERVICE-REQUEST-URI}",
                            "uuid": "%X{X-SERVICE-REQUEST-ID}",
                            "username": "%X{X-SERVICE-USER-NAME}",
                            "app_version": "%X{X-CLIENT-VERSION}",
                            "session_id": "%X{X-SERVICE-SESSION-ID}",
                            "module_name": "%X{X-SERVICE-MODULE-NAME}",
                            "trace": "%X{X-B3-TraceId:-}",
                            "span": "%X{X-B3-SpanId:-}",
                            "parent": "%X{X-B3-ParentSpanId:-}",
                            "exportable": "%X{X-Span-Export:-}",
                            "wip_number": "%X{X-WIP-NUMBER}",
                            "dealer_id": "%X{X-DEALER-ID}",
                            "rpd_package_id": "%X{X-RPD-PACKAGE-ID}",
                            "rpd_package_description": "%X{X-RPD-PACKAGE-DESCRIPTION}",
                            "rpd_order_id": "%X{X-RPD-ORDER-ID}",
                            "api_response_time": "#asLong{%X{X-SERVICE-REQUEST-COSTTIME}}",
                            "api_class": "%X{X-SERVICE-REQUEST-CLASS}",
                            "api_method": "%X{X-SERVICE-REQUEST-METHOD}",
                            "api_exception": "%X{X-SERVICE-REQUEST-EXCEPTION}",
                            "api_request_app": "%X{X-SERVICE-REQUEST-APP:-}"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </springProfile>
    </appender>

    <!--Note that: fileAppender needs to be removed in production env-->
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/${appName}.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logLevel}</level>
        </filter>
        <encoder>
            <pattern>
                ${appName} - [%d][%-5p][%t][%c{0}][%M] - %m%n
            </pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/${appName}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <!--Note that: fileAppender needs to be removed in production env-->

    <appender name="asyncFile" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1000</queueSize>
        <appender-ref ref="fileAppender"/>
    </appender>

    <appender name="asyncConsole" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1000</queueSize>
        <appender-ref ref="STDOUT"/>
    </appender>

    <root level="${logLevel}">
        <appender-ref ref="asyncConsole"/>

        <springProfile name="dev, qa, uat, integ, rehearsal, local">
            <appender-ref ref="asyncFile"/>
        </springProfile>
    </root>
</configuration>
